.ic-icon[class^='icon-'], .ic-icon[class*=' icon-']{
 display: inline-block;
 font-style: normal;
 text-align: center;
 text-transform:none;
 line-height:1;
 text-rendering:optimizeLegibility;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
}

.ic-icon-color{
 width: 1em;
 height: 1em;
 vertical-align: -0.15em;
 fill: currentColor;
 overflow: hidden;
}

// loading 有旋转效果
   .ic-icon.icon-loading{
    animation: rotate 0.8s infinite linear;
   }

@keyframes rotate{
 from {
  transform:rotate(0deg);
 }
 to {
  transform:rotate(-360deg);
 }
}
